.App {
  text-align: center;
  padding-top: 80px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

li.logo img {
  width: 2.5rem;
}

li.logo:hover {
  opacity: 0.6;
}

.overlay {
  width: 100%;
  height: 300px;
  background: rgb(17 17 17 / 30%);
  z-index: 1;
  position: absolute;
}

.hero-content {
  z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header p {
  padding-top: 2rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f69a01;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 90%;
  margin: auto;
  padding-top: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #282828;
}

.btn,
.btn:focus {
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  border: 1px solid #940600;
  font-size: 1rem;
  font-weight: bold;
  border-radius: .5rem;
  cursor: pointer;
  outline: none;
}

.btn.filled,
.btn.ghost:hover {
  background: #940600;
  color: #fff;
  transition: .2s all ease;
}

.button-wrapper {
  width: 250px;
  margin-bottom: 2rem;
}

.btn.filled:hover,
.btn.ghost {
  background: transparent;
  color: #940600;
}

.btn[disabled] {
  opacity: .4;
}

/* Navigation */

nav ul {
  list-style-type: none;
  background: #940600;
  margin: 0;
  padding: 1rem;
  height: 5rem;
  display: flex;
  align-items: center;
}

nav li {
  padding: .5rem;
}


a,
a:visited {
  text-decoration: none;
  transition: .2s ease all;
  color: #940600;
}

nav a {
  color: #fff !important;
  font-weight: bold;
}

nav a:focus {
  outline: none;
}

nav a:hover,
nav a:active {
  color: #f69a01 !important;
}

li.logo {
  display: flex;
  float: left;
  width: 3.3rem;
  height: 3.3rem;
  border: 1px solid #f69a01;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  cursor: pointer;
  background: #f69a01;
  animation: App-logo-spin infinite 20s linear;
}

nav {
  box-shadow: #222 0px 2px 40px;
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0;
}

/* Home */
.hero {
  height: 300px;
  background: url('/src/assets/images/bangkok-burger-list.jpg');
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.hero h1,
.hero p {
  margin-top: 0;
  color: #fff;
}

.ranking-section {
  background: #f69a01;
}

label {
  font-weight: bold;
  margin-right: 2rem;
}

@media (max-width: 569px) {
  .hero {
    background-position: contain;
  }
}